# Cache objects
packer_cache/

# Crash log
crash.log

# macOS
*DS_Store

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
*.tfvars.json
