# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

# macOS
*DS_Store

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
*.tfvars.json
