name: packer validate
on: [push, pull_request, workflow_dispatch]
jobs:
  packer-validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: packer version
        run: packer --version

      - name: source cidr
        run: echo "SOURCE_CIDR=$(curl -s ifconfig.co)/32" >> $GITHUB_ENV

      - name: packer validate
        run: |
          cd packer
          packer validate w2019_aws.json
        env: 
          AWS_REGION: us-east-2
